host: 0.0.0.0
port: 4091
tls:
  enable: false
auth-dir: /root/.modelgate
api-keys:
  - sk-ant-b72f522fc29fc5b0d2eb612ddc74f44b6af7406191d8b6151baed1607505a798
remote-management:
  allow-remote: true
  secret-key: $2a$10$8FIcHiBWau/8bhLqcAHxdeegoSywyDCohgfPsof1qJXLJjcsG.QS2
  disable-control-panel: false
  panel-github-repository: https://github.com/router-for-me/Cli-Proxy-API-Management-Center
commercial-mode: true
request-retry: 3
max-retry-interval: 30
quota-exceeded:
  switch-project: true
  switch-preview-model: true
routing:
  strategy: fill-first
streaming:
  keepalive-seconds: 15
  bootstrap-retries: 1
nonstream-keepalive-interval: 30
debug: true
request-log: true
logging-to-file: true
logs-max-total-size-mb: 500
usage-statistics-enabled: true
force-model-prefix: false
ws-auth: true
incognito-browser: false
payload:
  default:
    - models:
        - name: gemini-2.5-flash
        - name: gemini-2.5-flash-lite
      params:
        generationConfig.thinkingConfig.thinkingBudget: 24576
    - models:
        - name: gemini-3-pro-preview
        - name: gemini-3.1-pro-preview
        - name: gemini-3-pro-image-preview
        - name: gemini-3-flash-preview
        - name: gemini-2.5-computer-use-preview-10-2025
      params:
        generationConfig.thinkingConfig.thinkingBudget: 32768
    - models:
        - name: copilot-gpt-5.1-codex-max
        - name: copilot-gpt-5.2
        - name: copilot-gpt-5.2-codex
        - name: copilot-gpt-5.3
        - name: copilot-gpt-5.3-codex
      params:
        reasoning.effort: xhigh
        reasoning.summary: detailed
    - models:
        - name: copilot-gpt-5.1-codex-mini
      params:
        reasoning.effort: high
        reasoning.summary: detailed
    - models:
        - name: copilot-claude-haiku-4.5
        - name: copilot-claude-opus-4.5
        - name: copilot-claude-sonnet-4.5
      params:
        thinking.budget_tokens: 32000
    - models:
        - name: copilot-claude-opus-4.6
      params:
        thinking.budget_tokens: 64000
    - models:
        - name: gpt-5.1-codex-max
        - name: gpt-5.2
        - name: gpt-5.2-codex
        - name: gpt-5.3
        - name: gpt-5.3-codex
      params:
        reasoning.effort: xhigh
        reasoning.summary: detailed
        text.verbosity: medium
    - models:
        - name: glm-4.7
        - name: minimax-m2.1
      params:
        reasoning_effort: high
openai-compatibility: []
