services:
  modelgate:
    image: ${CLI_PROXY_IMAGE:-eceasy/modelgate-plus:latest}
    pull_policy: always
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VERSION: ${VERSION:-dev}
        COMMIT: ${COMMIT:-none}
        BUILD_DATE: ${BUILD_DATE:-unknown}
    container_name: modelgate-plus
    # env_file:
    #   - .env
    environment:
      DEPLOY: ${DEPLOY:-}
    ports:
      - "8317:8317"
      - "8085:8085"
      - "1455:1455"
      - "54545:54545"
      - "51121:51121"
      - "11451:11451"
    volumes:
      - ./config.yaml:/ModelGate/config.yaml
      - ./auths:/root/.modelgate
      - ./logs:/ModelGate/logs
    restart: unless-stopped
